In [ ]:
'''1. Write a Python function to accept a string value from the user and display thecount of each character in that string. Sample input: Enter a string value:
assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1 '''

'1. Write a Python function to accept a string value from the user and display thecount of each character in that string. Sample input: Enter a string value:\nassembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1 '

In [ ]:
def count_characters(string):

  counts = {}
  for char in string:
    if char in counts:
      counts[char] += 1
    else:
      counts[char] = 1
  return counts
input_string = input("Enter a string value: ")

Enter a string value: a=1,s=2,e=1,m=1,b=1,l=1,y=1
a=1, ==7, 1=6, ,=6, s=1, 2=1, e=1, m=1, b=1, l=1, y=1,

In [ ]:
''2.as_integer  Write a Python function to find the maximum of three numbers Sample input:
34,12,7 Sample output: 34'''

SyntaxError: invalid decimal literal (<ipython-input-40-051bb06b381e>, line 1)

In [ ]:
x = int(input('enter the first number:'))
y = int(input('enter the second number:'))
z = int(input('enter the third number:'))
\print(x)

enter the first number:34
enter the second number:12
enter the third number:7
34

In [ ]:
'''Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8 '''

'Write a Python function called exponent(base,exp) that returns an integer\nvalue of base raises to the power of exp. Sample input: Enter the base: 2\nEnter the exponent: 3 Sample output: 8 '

In [ ]:
def exponent(base, exp):
  result = 1
  for _ in range(exp):
    result *= base
  return result
base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
print(exponent(base, exp))

Enter the base: 2
Enter the exponent: 3
8

In [ ]:
'''Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36. '''

'Write a Python function that takes a positive integer and returns the sum of\nthe cube of all the positive integers smaller than the specified number.\nSample input: 4 Sample output: 36. '

In [ ]:
def cube_num(n):
  count=0
  for i in range(1,n):
    count +=i**3
    return count

    n=int(input('enter a positive integer'))
    print=('output',cube_num)

In [ ]:
'''Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5'''

'Write a Python function to convert temperatures to and from Celsius\nFahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=\ntemperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41\nSample output: Temperature in Celsius =5'

In [ ]:
c=float(input('enyter the farenheit:'))
f=-32/9
print=('temperature of the celsius:',f)

enyter the farenheit:5

In [ ]:
'''Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd'''

'Write a Python program using for loop that will iterate from 1 to 15. For each\niteration, check if the current number is odd or even, and display the message\nto the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-\neven …. 15-odd'

In [ ]:
for i in range(1,16):
  if i%2==0:
    print(i, '=even')
  else:
    print(i,'=odd')

1 =odd
2 =even
3 =odd
4 =even
5 =odd
6 =even
7 =odd
8 =even
9 =odd
10 =even
11 =odd
12 =even
13 =odd
14 =even
15 =odd