In [ ]:
'''Write a Python function to accept a string value from the user and display the
count of each character in that string. Sample input: Enter a string value:
assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1 '''

'Write a Python function to accept a string value from the user and display the\ncount of each character in that string. Sample input: Enter a string value:\nassembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1 '

In [ ]:
'''Write a Python function to find the maximum of three numbers Sample input:
34,12,7 Sample output: 34 '''

'Write a Python function to find the maximum of three numbers Sample input:\n34,12,7 Sample output: 34 '

In [ ]:
x=(34)
y=(12)
z=(7)

In [ ]:
def max (x,y,z):
  p= x,y,z
  print (p)

In [ ]:
x = int(input('enter the first number:'))
y = int(input('enter the second number:'))
z = int(input('enter the third number:'))
print(x)

enter the first number:34
enter the second number:17
enter the third number:4
34

In [18]:
'''Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8 '''

'Write a Python function called exponent(base,exp) that returns an integer\nvalue of base raises to the power of exp. Sample input: Enter the base: 2\nEnter the exponent: 3 Sample output: 8 '

In [20]:
def exp(base,exp):
  p=base%exp
  return p

In [32]:
x=int(input('enter the base :'))
y=int(input('enter the exponent:'))
print ('output=',(x%y))

enter the base :84
enter the exponent:4
output= 0

In [37]:
'''Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36. '''

'Write a Python function that takes a positive integer and returns the sum of\nthe cube of all the positive integers smaller than the specified number.\nSample input: 4 Sample output: 36. '

In [79]:
def sum_of_cubes(n):
  sum = 0
  for i in range(1, n):
    sum += i**3
  return sum
n = 6
print(f"{n} is: {sum_of_cubes(n)}")

TypeError: 'tuple' object is not callable

In [35]:
'''Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
FizzBuzz '''

'Write a Python program which iterates from 1 to 10. For multiples of 2, print\n“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For\nnumbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:\nnumbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9\nFizzBuzz '

In [99]:
def sum_cubes(n):
 sum = 0
    for i in range(1,n):
       sum += i**3
    return sum
sample input
result = sum_cubes(sample input)
    print("sample input:", sample input)
    print("sample output:", result)

IndentationError: unexpected indent (<ipython-input-99-80e2a8832fd0>, line 3)

In [100]:
'''Write a Python function to find the most frequent item in a list of numbers.
Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2 '''

'Write a Python function to find the most frequent item in a list of numbers.\nSample input: 2, 3, 4, 2, 5, 2 Sample output: 2 '

Write a Python function to find the sum of squares of the numbers in a list.
Sample input: 2,1,3,1 Sample output: 15

8.Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd

In [93]:
for i in range(1,16):
  if i%2==0:
     print(i,'=even')
  else:
     print(i,'=odd')

1 =odd
2 =even
3 =odd
4 =even
5 =odd
6 =even
7 =odd
8 =even
9 =odd
10 =even
11 =odd
12 =even
13 =odd
14 =even
15 =odd

9.Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5

In [89]:
c=float(input('enter the fahrenheit:'))
f = -32/9
print = ('temperature of the celsius:',f)

enter the fahrenheit:234

10.Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument. Sample input: 3
Sample output: 6

In [94]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n * factorial (n-1)
    print(factorial(n=3))